<!DOCTYPE html>
<html lang="en">
<head>
<% include ../../../../../views/head %>

</head>

<body>
<% include ../../../../../views/header %>
<% include ../../../../../views/menu %>
	<div class="container-fluid" id="pcont">
		<div class="page-head">
			<h2>Blank Page</h2>
			<ol class="breadcrumb">
			  <li><a href="#">Home</a></li>
			  <li><a href="#">Category</a></li>
			  <li class="active">Sub Category</li>
			</ol>
		</div>		
    <div class="cl-mcont">
    
    </div>
	</div> 
	
</div>

  <!-- <script src="js/echarts.js"></script> -->
  <% include ../../../../../views/all_js %>
</body>
</html>
