<!-- Fixed navbar -->
  <div id="head-nav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="fa fa-gear"></span>
        </button>
        <a class="navbar-brand" href="#" style="width: 245px;height:63px; margin-left: 0px;padding-left:70px;padding-top:25px;"><span>子归智能</span></a>
      </div>
      <div class="navbar-collapse collapse">
        
    <ul class="nav navbar-nav navbar-right user-nav">
      <li class="dropdown profile_menu">
        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img alt="Avatar" src="images/avatar2.jpg" />admin <b class="caret"></b></a>-->
        <a href="/logout"><img alt="Avatar" src="images/avatar2.jpg"/>退出</a>
        <!--<ul class="dropdown-menu">
          <li><a href="#">我的账户</a></li>
          <li class="divider"></li>
          <li><a href="/logout">退出</a></li>
        </ul>-->
      </li>
    </ul>			
      </div><!--/.nav-collapse -->
    </div>
  </div>