<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="images/logo.png">

<title>子归智能</title>
<link href="./javascripts/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="./javascripts/jquery.gritter/css/jquery.gritter.css" />
<link rel="stylesheet" href="fonts/font-awesome-4/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="./javascripts/jquery.nanoscroller/nanoscroller.css" />
<link rel="stylesheet" type="text/css" href="./javascripts/jquery.easypiechart/jquery.easy-pie-chart.css" />
<link rel="stylesheet" type="text/css" href="./javascripts/bootstrap.switch/bootstrap-switch.css" />
<link rel="stylesheet" type="text/css" href="./javascripts/bootstrap.datetimepicker/css/bootstrap-datetimepicker.min.css" />
<link rel="stylesheet" type="text/css" href="./javascripts/jquery.select2/select2.css" />
<link rel="stylesheet" type="text/css" href="./javascripts/bootstrap.slider/css/slider.css" />
<link rel="stylesheet" type="text/css" href="./javascripts/jquery.niftymodals/css/component.css" />
<link href="./stylesheets/style.css" rel="stylesheet" />  