	<div id="cl-wrapper">
    <div class="cl-sidebar">
			<div class="cl-toggle"><i class="fa fa-bars"></i></div>
			<div class="cl-navblock">
        <div class="menu-space">
          <div class="content">
            <div class="side-user">
              <div class="avatar"><img src="images/avatar1_50.jpg" alt="Avatar" /></div>
              <div class="info">
                <a href="#"><%=user%></a>
                <img src="images/state_online.png" alt="Status" /> <span>Online</span>
              </div>
            </div>
            <ul class="cl-vnavigation">
              <li><a href="/line"><i class="fa fa-book"></i><span>产线信息</span></a>
              </li>
              <li><a href="/proplan"><i class="fa fa-smile-o"></i><span>计划排产</span></a>
              </li>
              <li><a href="/person"><i class="fa fa-list-alt"></i><span>人员信息</span></a>
              </li>
              <li><a href="#"><i class="fa fa-table"></i><span>系统设置</span></a>
                <ul class="sub-menu">
                  <li><a href="/user">用户信息</a></li>
                  <li><a href="/status">状态信息</a></li>
                </ul>
              </li>                      
              <li><a href="#"><i class="fa fa-file"></i><span>历史数据</span></a>
                <ul class="sub-menu">
                  <li><a href="/reStatus">状态查询</a></li>
                  <li><a href="/reSpeed">速度查询</a></li>
                </ul>
              </li> 
            </ul>
          </div>
        </div>
			</div>
            </div>