<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <link rel="stylesheet" href="./Common/web/css/board.css"/>

</head>
<body ng-app='board' ng-controller='boardctrl'>
    <table id="touchArea" class="cla1th cla1table" id='touchArea'>
	<thead>
		<tr>
			<th colspan="4" style="text-align: center;font-size:40px;">宁波宏协承汽车部件有限公司</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>产线名称</td>
			<td>{{board.Line_Name}}</td>
			<td>需求跟踪号</td>
			<td>{{board.Requirements_Classification}}</td>
		</tr>
		<tr>
			<td>存货代码</td>
			<td>{{board.Inventory_Code}}</td>
            <td>料号名称</td>
            <td>{{board.Material_Name}}</td>	
		</tr>
		<tr>
			<td>生产订单</td>
			<td>{{board.Production_Order}}</td>
            <td>计划产量</td>
            <td>{{board.Product_Num}}</td>
		</tr>
		<tr>
			<td>未完成量</td>
			<td>{{board.Un_Production_Num}}</td>
			<td>当前产量</td>
			<td>{{board.Production_Num}}</td>
		</tr>
		<tr>
			<td>预计速度</td>
			<td>{{board.Estimated_Speed}}</td>
			<td>当前速度</td>
			<td ng-style='color'>{{NowProductionSpeed}}</td>
		</tr>
		<tr>
			<td>产线负责人</td>
			<td>{{board.Line_Mge}}</td>
			<td>联系电话</td>
			<td>{{board.Mge_Tel}}</td>
		</tr>
		<tr>
			<td>产线操作人</td>
			<td>{{board.Line_OptPerson}}</td>
			<td>联系电话</td>
			<td>{{board.OptPerson_Tel}}</td>
		</tr>
        <tr>
            <td>产线状态</td>
            <td>			
				<button type="button" class="btn btn-default btn-gray cla1button" id='nomal' ng-click='Normal()'>正常</button>			
			</td>
            <td>
				<button type="button" class="btn btn-default btn-gray cla1button" id='debug' ng-click= 'Test()'>调试</button>
			</td>
            <td>
				<button type="button" class="btn btn-default btn-gray cla1button" id='fault' ng-click= 'Alarm()'>故障</button>
				<button data-toggle="modal" data-target="#mod-success" id='btnn' hidden>新增<i class="fa fa-plus-circle"></i></button>
			</td>
        </tr>
	</tbody>
</table>

 <div class="modal fade" id="mod-success" tabindex="-1" role="dialog">
		    <div class="modal-dialog">
		    <div class="modal-content" style="width:1600px;">
		        <div class="modal-header">
		            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	            </div>
                
                <div class="modal-body">
		           <div class="content" style="width:100%;">													
									    	<button class='status btn btn-sm btn-gray cla1button' type="button" id='start' ng-click='start()'>开始</button>
											<button class='status btn btn-sm btn-gray cla1button' type="button"style="margin-left: 250px;" id='stop' ng-click='stop()'>停止</button>
											<button data-toggle="modal" data-target="#mod-error" class='status btn btn-sm btn-gray cla1button' type="button" style="margin-left: 250px;" id='cancel'>取消</button>
											<button data-toggle="modal" data-target="#mod-warning" class='status btn btn-sm btn-gray cla1button' type="button"style="margin-left: 250px;" id='finish'>完成</button>																
							</div>
						</div>
						<div class="table-responsive">
								<table class="table table-bordered" id='order'>
									<thead>
										<tr class="titled">
											<td width='30%' style='background-color:#3BBF5A;color:white'>序号</th>
											<td width='35%' style='background-color:#3BBF5A;color:white'>工单号</th>
											<td width='35%' style='background-color:#3BBF5A;color:white'>状态</th>
										</tr>
									</thead>
									<tbody >
										<tr ng-repeat='board in boardlist' ng-class="{'choose':focus==$index}" ng-click="tr_click($index)" >
											<td>{{$index+1}}</td>
											<td>{{board.Production_Order}}</td>
											<td>{{board.Production_Status | status}}</td>
										</tr>
									</tbody>
								</table>							
							</div>
							<div>
							  <table>
										<tr>
											<th style="width:350px;">负责人姓名：</th>
											<th style="width:350px;">
											<select ng-change='ChangeMsgPerson(x)' ng-model='x' style="width:200px;" ng-options='x.ShowContent for x in freepersonlist'>
						        	</select></th>
											<th style="width:350px;">操作人姓名：</th>
											<th style="width:350px;">
											<select ng-change='ChangeOptPerson(y)' ng-model='y' style="width:200px;" ng-options='y.ShowContent for y in freepersonlist'>
						        	</select></th>
										</tr>
					    	 </table>
							</div>
						  </div>
						</div>
					  </div>					 
					</div>
			</div>
			</div>
	    </div>

		<div class="modal fade" id="mod-error" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                  <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                      <div class="text-center">
                        <div class="i-circle danger"><i class="fa fa-times"></i></div>
                        <h4>取消订单!</h4>
                        <p>确认取消订单请按确认，返回按取消!</p>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                      <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click='cancel()'>确认</button>
                    </div>
                    </div>
                  </div>
				</div>

        <div class="modal fade " id="mod-warning" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
								<div class="modal-dialog">
								  <div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									</div>
									<div class="modal-body">
										<div class="text-center">
											<div class="i-circle warning"><i class="fa fa-warning"></i></div>
											<h4>完成订单!</h4>
											<p>生产完成请按确认，返回请取消</p>
										</div>
									</div>
									<div class="modal-footer">
									  <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
									  <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click='finish()'>确认</button>
									</div>
								  </div>
								</div>
							  </div>

<% include ../../../../../views/all_js %>
<script src='./javascripts/jquery.datatables.min.js'></script>
<script src='./javascripts/datatables.js'></script>
<script src='./Common/web/controller/boardController.js'></script>
</body>
</html>
